<!-- HEAD -->
<%-include('./partials/head')  %> 
<!--/HEAD -->
<!-- HEADER -->
<%-include('./partials/header')  %>
<!-- /HEADER -->
<h1 class="text-uppercase text-danger text-center">SU COMPRA A SIDO REALIZADA CON EXITO!!</h1>
<img src="../images/productos/comprafinalizada.png" alt="Compra Finalizada" class="rounded mx-auto d-block">
<!-- FOOTER -->
<%- include('./partials/footer') %> 
<!-- /FOOTER -->