<!-- Productos y Carrito -->
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      <a class="navbar-brand">Productos</a>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto"></ul>
        <span class="navbar-text text-dark text-uppercase">
          <a href="/carrito"> Carrito</a><i class="fas fa-shopping-cart"></i>
        </span>
      </div>
    </nav>
    <!-- /Productos y Carrito -->