<div class="container">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col"></th>
                <th scope="col" class="text-uppercase">Producto</th>
                <th scope="col" class="text-uppercase">Precio</th>
                <th scope="col" class="text-uppercase">cantidad</th>
                <th scope="col" class="text-uppercase">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><button type="button" class="close bg-danger rounded-circle" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button></td>
                <td><img style="width: 50px;" src="../images/productos/piloto.jpg" alt="">Piloto Automático</td>
                <td>$30.000</td>
                <td> <input type="number" class="form-control-sm" placeholder="1" min="1"></td>
                <td>$30.000</td>
            </tr>
        </tbody>
    </table>

    <div class="container">
        <div class="row justify-content-end">
            <div class="col-3 ">
                <thead>
                    <tr>
                        <th scope="col"><strong><h3>Precio Final</h3></strong></th>
                    </tr>
                </thead>
                <table class="table">
                    <tbody>
            <tr>
                <ul class="list-group list-group-horizontal-sm justify-content-center">
                    <th><li class="list-group-item border-0 text-left text-uppercase">SubTotal</li></th>
                    <th> <li class="list-group-item border-0 pr-4">$30.000</li></th>
                </ul>
            </tr>
            <tr>
                
                <ul class="list-group list-group-horizontal-sm justify-content-center">
                   <th><li class="list-group-item border-0 text-left text-uppercase">Total</li></th>
                   <th><li class="list-group-item border-0 pr-4">$30.000</li></th> 
                
            
                </ul>
            </tr>
            </tbody>
            </table>
                <a href="/comprar" type="button" class="btn btn-danger btn-sm btn-block rounded-0">Comprar</a>
            </div>

        </div>
    </div>

</div>